# Hamoye Stage one Assesment

I took the Hamoye Assement test on saturday, the 18th of July at 6:50 AM, this notebook is details the code used to solve the graded quiz

### Question 1
If youâ€™re given two lists:
A = [1,2,3,4,5,6] B = [13, 21, 34]

The task is to create a list with the elements of A and B in a single dimension with output:
A_B = [1,2,3,4,5,6,13, 21, 34]

Which of the following option is the best way to create this list?

Answer chosen = A.extend(B)

In [1]:
#solution 1
A = [1,2,3,4,5,6]

In [2]:
B = [13, 21,34]

In [3]:
 A.extend(B)

In [4]:
print(A)

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [5]:
A_B= A # creating a new list that is equivalent to the newly extended List A
print(A_B)

[1, 2, 3, 4, 5, 6, 13, 21, 34]

### Question 2
How do you create an identity matrix in python?

answer chosen=np.identity(3)

In [6]:
import numpy as np
np.identity(3) #numpy only accepts one argument at a time so the other methods will be wrong

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [7]:
b = [[1,0,0],[0,1,0],[0,0,1]]
np.array(b) # the syntax in the question does not work

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

### Question 3
Which of the following fuel type code has the lowest average fuel cost per unit burned?

Answer chosen= **gas**

In [8]:
#solution 3
#loading the dataset
import pandas as pd
url='https://github.com/WalePhenomenon/climate_change/blob/master/fuel_ferc1.csv?raw=true'
fuel_data = pd.read_csv(url, error_bad_lines=False)


# for personal Practice I used my locally saved dataset
#fuel_data = pd.read_csv('.....input/fuel_ferc1.csv')
#fuel_data.describe(include='all')

In [9]:
a= fuel_data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean()
a.sort_values(ascending=True)

fuel_type_code_pudl
gas          13.659397
other        18.253856
waste        19.518122
coal         67.421830
oil         168.877086
nuclear    4955.157002
Name: fuel_cost_per_unit_burned, dtype: float64

### Question 4
What is the standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit) in two
decimal places?

Answer chosen= 10.60 and 17.01

In [10]:
#solution 4 
#I just focused on the requested column instead all of it
fuel_data['fuel_mmbtu_per_unit'].describe(include=all)

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

### Question 5
What is the skewness and kurtosis for the fuel quantity burned in two decimal places?

Answer chosen= 15.85 and 651.37

In [11]:
# solution 5
round(fuel_data["fuel_qty_burned"].skew(),2)

15.85

In [12]:
round(fuel_data["fuel_qty_burned"].kurtosis(),2)

651.37

### Question 6
Which feature has missing values and what is the total number of missing value and percentage of the missing rows as a
factor of the total number of rows in three decimal places?
(Enter answer in the format: Feature: xxx, Total: xxx, Percent: xxx)

Answer written= Feature: fuel_unit, Total: 180, Percent: 0.609%

I was marked wrong i think my mistake was both putting the % sign and not round not properly rounding down to 0.610

New opinion =  Feature: fuel_unit, Total: 180, Percent: 0.610

In [13]:
#solution6
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [14]:
total_row= fuel_data.shape[0]
total_row

29523

In [15]:
#percentage of missing values
round(((180/29523)*100),3)

0.61

### Question 7

The feature with missing values falls under what category? What missing value imputation technique would you use?

Answer chosen= Categorical and mode imputation

In [16]:
#solution 7
fuel_data.groupby('fuel_unit')['fuel_unit'].count()

# from this we can look at the most common fuel_unit

fuel_unit
bbl        7998
gal          84
gramsU      464
kgU         110
mcf       11354
mmbtu       180
mwdth        95
mwhth       100
ton        8958
Name: fuel_unit, dtype: int64

In [17]:
# filling the missing data with fillna with the most common unit mcf using
fuel_data[['fuel_unit']] = fuel_data[['fuel_unit']].fillna(value='mcf') 
#the column  data in question is categorical in nature and the method used above is modal

In [18]:
#check for missing data
fuel_data["fuel_unit"].isnull().sum()

0

Question 8
Which of the features has the second and third lowest correlation with the Fuel Cost Per Unit Burned?

Answer chosen=fuel_qty_burned and fuel_mmbtu_per_unit

In [19]:
#solution 8
#focusing on the single column to make looking for the answer easier
c= fuel_data.corrwith(fuel_data['fuel_cost_per_unit_burned'])
c.sort_values(ascending=True)

utility_id_ferc1               -0.037863
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_mmbtu            -0.000437
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_cost_per_unit_burned       1.000000
dtype: float64

### Question 9
For the fuel type coal, what is the percentage change in the fuel cost per unit burned in 1998 compared to 1994?

Answer chosen was wrong= none of the above

In [20]:
#solution that led me to that answer
fuel_data.groupby('report_year')['fuel_cost_per_unit_burned'].mean().head()

report_year
1994    213.191996
1995    354.422555
1996     79.434995
1997    149.482132
1998    126.683519
Name: fuel_cost_per_unit_burned, dtype: float64

In [21]:
#calculating percentage change
#i used the mean of each to calculate the year on year change
((126.683519-213.191996)/213.191996)*100

-40.577732102100114

I still have the wrong answer i hope the solution will made available when this stage is over

### Question 10
Which year has the highest average fuel cost per unit delivered?

Answer chosen = 1997

In [22]:
#solution 10
g= fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean()
g.sort_values(ascending=False).head()

report_year
1997    11140.197239
1996     9196.705948
2000      985.362877
2009      652.694163
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64

## Full disclosure:

* I took the time to refine the notebook because was rather rough as i solved the questions out of order
* my github page has been seeing a lot of traffic from my fellow hamoye interns because I created a repository that I update with lesson material, I will putting this assesment in a seperate repository to minimize views from my colleagues and i hope this does not affect my scores...